.editor__options {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 5px;
  padding: 5px;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      max-width: 50%;
      &[type='checkbox'] {
        margin-left: auto;
      }
    }
  }
}
