html,
body,
#root {
  height: 100%;
  width: 100%;
}

html,
body,
div,
span,
ul,
li,
hr,
h1,
h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.editor {
  display: grid;
  grid-template-areas:
    'menu menu menu'
    'zoom-controls tools tools'
    'editor editor options';
  grid-template-columns: 1fr 4fr 1.5fr;
  grid-template-rows: 0.3fr 0.5fr 9.2fr;
  width: 100%;
  height: 100%;

  &__options {
    grid-area: options;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 auto;
    gap: 5px;
    padding: 5px;
  }
  &__zoom {
    &-controls {
      grid-area: zoom-controls;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 5px 10px;
    }
    &-value {
      width: 50px;
      text-align: end;
    }
  }
  &__tools {
    grid-area: tools;
    grid-column: 2/3;
    display: flex;
    .draggables {
      margin: auto auto 0 auto;

      .draggable {
        padding: 5px;
      }
    }
  }
  &__menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
  &__import {
    display: none;
  }
}

.droppable {
  grid-area: editor;
  height: 90%;
  width: 100%;
  min-width: 0;
  overflow: hidden;
}

.zoomable {
  height: 100%;
  width: 100%;
  border: 1px solid #333;
  box-sizing: border-box;
}

.element-menu,
.editor__options {
  grid-area: options;
  padding: 5px;
  width: 80%;
  margin: 0 auto;
  max-height: fit-content;
}

.loading--editor {
  grid-area: editor;
  margin: 2rem auto;
}
